<div class="container">
<%= form_with url: article_assignments_path(), method: :post, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :title, "Title", class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, "Category", class: "form-label" %>
    <%= form.collection_select :category_id, Category.all, :id, :title, { include_blank: "Select Category" }, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :author, "Author", class: "form-label" %>
    <%= form.collection_select :author_id, @authors.map { |author| [author.user.email, author.user.id] }, :last, :first, include_blank: true, class: "form-control" %>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
  </div>
