<%= stylesheet_link_tag('article_index') %>
<% user_not_preesent(current_user) do %>
  <div class="top-right-button">
    <%= button_to "Sign In", new_user_session_path(client_id: @client.sub_domain), class: "btn btn-primary" %>
  </div>
<% end %> 


<div class="container">
  <%= search_form_for @q do |form| %>
    <%= form.label :title_cont %>
    <%= form.search_field :title_cont %>

    <%= form.label :category_id_eq %>
    <%= form.collection_select :category_id_eq, Category.all, :id, :title, include_blank: true, placeholder: "Search by category ID" %>

    <%= form.label :tags_name_cont %>
    <%= form.text_field :tags_name_cont, placeholder: "Search by tag name" %>

    <%
=begin%>
 <%= form.label :client_users_name_cont %>
    <%= form.search_field :client_users_name_cont, placeholder: "Search by Author name" %>  
<%
=end%>

    <%= form.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<% @articles.each do |article| %>
  <%= render article %>
<% end %>

<style>
.top-right-button {
  position: fixed;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other content */
}

.btn {
  /* Add any additional styling for the button here */
}

.container {
  
  max-width: 1200px; /* Adjust based on your design */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

.container.btn {
  display: block; /* Make the submit button a block element */
  width: 100%; /* Full width of the container */
  margin-top: 20px; /* Add some space above the button */
}


</style>