<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Articles Count</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
<tr data-client-name="<%= author.client.sub_domain %>" data-author-id="<%= author.id %>">
  <td><%= author.user.name %></td>
  <td><%= author.user.email %></td>
  <td><%= author.articles.count %></td>
  <td>
    <%= button_to 'Delete', '#', method: :delete, data: { confirm: 'Are you sure?', client_name: author.client.sub_domain, author_id: author.id }, class: "btn btn-danger" %>
  </td>
</tr>

      <% end %>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function() {
  $('.btn-danger').on('click', function(e) {
    e.preventDefault(); // Prevent the default form submission

    var clientName = $(this).data('client-name'); 
    var authorId = $(this).data('author-id'); 
      $.ajax({
        url: `/${clientName}/client_users/${authorId}`, 
        type: 'DELETE',
        success: function() {
          $('tr[data-author-id="' + authorId + '"]').remove();
        },
        error: function() {
          alert('An error occurred. Please try again.');
        }
      });
  });
});
</script>

