<%= stylesheet_link_tag('assign_articles') %>
<%= javascript_include_tag('ajax_files/client_user_index') %>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Articles Count</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
<tr data-client-name="<%= author.client.sub_domain %>" data-author-id="<%= author.id %>">
  <td><%= author.user.name %></td>
  <td><%= author.user.email %></td>
  <td><%= author.articles.count %></td>
  <td>
    <%= button_to 'Delete', '#', method: :delete, data: { confirm: 'Are you sure?', client_name: author.client.sub_domain, author_id: author.id }, class: "btn btn-danger" %>
  </td>
</tr>

      <% end %>
    </tbody>
  </table>
</div>


